body{
    font-family: Arial;
    margin: 0;
    background-color: #f2f2f2;
}

header{
    background: #7ddaff;
background: linear-gradient(90deg,rgba(125, 218, 255, 1) 0%, rgba(18, 122, 163, 1) 50%, rgba(125, 218, 255, 1) 100%);
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    display: inline;
    margin: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main{
    width: 80%;
    margin: auto;
}

section{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

h2{
    color: #004386;
}

.card{
    background-color: #f7f7f7;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

img{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

footer{
    background-color: #055db4;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}