body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #dddddd;
    overflow-x: hidden;
}

header{
    background: #085370;
    background: linear-gradient(90deg,rgba(8, 83, 112, 1) 0%, rgba(39, 168, 219, 1) 50%, rgba(8, 83, 112, 1) 100%);
    color: white;
    text-align: center;
    padding: 20px;
}

#logo{
    width: 170px;
    max-width: 45%;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    display: inline-block;
    margin: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

section{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

h2{
    color: #2783ec;
}

.card{
    background-color: #f7f7f7;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

img{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

footer{
    background: #085370;
    background: linear-gradient(90deg,rgba(8, 83, 112, 1) 0%, rgba(39, 168, 219, 1) 50%, rgba(8, 83, 112, 1) 100%);
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
}

@media (max-width:768px){

    header{
        padding:15px;
    }

    #logo{
        width:130px;
    }

    h1{
        font-size:28px;
    }

    nav li{
        display:block;
        margin:10px 0;
    }

    main{
        width:95%;
    }

    section{
        padding:15px;
    }

    h2{
        font-size:24px;
    }

    p{
        font-size:17px;
    }

}

@media (max-width:480px){

    h1{
        font-size:24px;
    }

    #logo{
        width:110px;
    }

    h2{
        font-size:22px;
    }

    p{
        font-size:16px;
    }

}